* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-child{
    transform: scaleX(0);
    transition: transform 1s;
}

ul {
    background: #cc19cc;
    width: 250px;
    height: 100%;
    top: 0;
    left:0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1s;
}

ul li {
    list-style: none;
    color:aliceblue;
    padding: 20px 0 10px 20px;
    cursor: pointer;
}

ul li:hover {
    background-color: rgb(255, 255, 255);
    color:black;
}

#menu-button{
    display:none;
}
#menu-button:checked~ .menu-child{
    transform: scaleX(1);
}