* {
    margin: 0;
}

.container {
    width: 1420px;
    height: 2367px;
    margin: 0 50px;
    padding: 15px 20px 0;
    display: flex;
    gap: 0px;
    box-sizing: border-box;
}

.item:nth-child(1) {
    width: 1080px;
    height: 100%;
    box-sizing: border-box;
    background-color: aqua;
    padding-right: 20px;
}

.item:nth-child(2) {
    width: 300px;
    height: 270px;
    padding-bottom: 20px;
    background-color: black;
}